- title "<%= singular_name.titleize %>"

<%- for attribute in attributes -%>
%p
  %strong <%= attribute.column.human_name.titleize %>:
  =h @<%= singular_name %>.<%= attribute.name %>
<%- end -%>

<%- if action? :index -%>
%p= link_to "back to list", <%= plural_name %>_path
<%- end -%>
